<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OMDB | Admin Panel", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="admin-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <ul class="category-list">
                        <li>@Html.ActionLink("Film Listeleme", "ListMovies", "Admin")</li>
                        <li>@Html.ActionLink("Film Ekleme", "CreateMovie", "Admin")</li>
                        <li>@Html.ActionLink("Aktör Listeleme", "ListActors", "Admin")</li>
                        <li>@Html.ActionLink("Aktör Ekleme", "CreateActor", "Admin")</li>
                        <li>@Html.ActionLink("Kullanıcı Listeleme", "ListUsers", "Admin")</li>
                    </ul>
                </div>
                <div class="col-md-9 main-page-data">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>