<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="/Content/style.css">
    <link href="/Content/Main.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="js/ie-support/html5.js"></script>
    <script src="js/ie-support/respond.js"></script>
    <![endif]-->
</head>

<body>

    <div id="site-content">
        <header class="site-header">
            <div class="container">
                <a href="/Home/Index" id="branding">
                    <img src="/images/logo.png" alt="" class="logo">
                    <div class="logo-copy">
                        <h1 class="site-title">OMDB</h1>
                        <small class="site-description">Omer's Movie Database</small>
                    </div>
                </a> <!-- #branding -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                        <li class="menu-item">@Html.ActionLink("Filmler", "Movies", "Home")</li>
                        <li class="menu-item">@Html.ActionLink("Aktörler", "Actors", "Home")</li>
                        <li class="menu-item">@Html.ActionLink("Kayıt Ol / Giriş Yap", "Login", "Account")</li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div>
        </header>
        <main class="main-content">
            <div class="container">
                <div class="page">
                    <div class="row">
                        <div class="col-md-10">
                            @RenderBody()
                        </div>
                        <div class="col-md-2">
                            <ul class="category-list">
                                @foreach (var item in ViewBag.CategoryListSource)
                                {
                                    <li>@Html.ActionLink((string)item.Name, "Movies", "Home", new { id = item.Id }, null)</li>
                                }
                            </ul>
                        </div>
                    </div> <!-- .row -->
                </div>
            </div> <!-- .container -->
        </main>
    </div>
    <!-- Default snippet for navigation -->


    @*<script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>